#drag-1, #drag-2 {
  width: 25%;
  height: 100%;
  padding: 10%;
  margin: 10% auto;

  background-color: #29e;
  color: white;

  text-align: center;
  border-radius: 100%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}